* {
  box-sizing: border-box;
}
/* PC、スマホ共通設定 */
body {
  font-family: "Noto sans Japanese",sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* pc用設定 */
@media screen and (min-width: 768px) {
  /* pc用のスタイルを指定する */
/* 横幅調整 */
  body {
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

  /* header装飾 */
  #header-box {
    width: 980px;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
    font-size: 34px;
  }

  #link-index a:link {
    text-decoration: none;
      color: #000000;
  }
  #link-index a:visited {
    color: #000000;
  }

  #link-index {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 3px, 19px, 3px, 19px;
  margin: 10px;
  }

  #link-div {
    margin: 18px;
    
  }
  #link-about {
    margin: auto;
  }
  #link-div a:link {
    text-decoration: none;
    color: #000000;
  }
  #link-div a:visited {
    color: #000000;
  }
  #link-div a:hover {
    text-decoration: underline;
  }

  #link-works {
    margin: 0;
  }


  #main-visual{
    width: 100%;
    margin:0 auto;
  }

  #main-visual > img {
    width: 100%;
  }
  /* about */
  #about {
    margin: 72.24px auto 0 auto;

  }
  .index-h1 {
    font-size: 34px;
    text-align: center;
    margin: 0 auto 50px auto;
  }

  #about-contents {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;

  }

  #about-contents > img {
    border-radius: 50%;
    margin-right: 50px;
  }

  #about-contents > div {
    margin-left: 50px;
  }

  #about-name {
    font-size: 24px;
  }

  #about-text {
    font-size: 18px;
    margin-left: 14px;
  }

  #works {
    margin: 87px auto 0 auto;
  }

  #works-box {
    display: flex;
    justify-content:center;
    margin: 16px auto;

  }

  .works-contents {
    margin: 10px auto;
    width: 30%;
  }

  .works-contents > img {
    margin: 10px auto;
    width: 100%;
  }

  .works-contents > p {

    font-size: 18px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
 
  }

footer {
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  }

  footer > p {
    font-size: 18px;
    margin: 0 auto;

  }

}

/* スマホ設定*/
@media screen and (max-width: 767px) {
  /* pc用のスタイルを指定する */
  /* 横幅調整 */

  body {
    margin: 0;
  }

  header {
    margin: 0;
  }

  #header-box {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  #link-index a:link {
    text-decoration: none;
      color: #000000;
  }

  #link-index a:visited {
    color: #000000;
  }
  
  #link-index {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 3px, 19px, 3px, 19px;
    margin: 10px;
    font-size: 28px;
  }

  #link-div {
    font-size: 18px;
  }

  #link-div a:link {
    text-decoration: none;
    color: #000000;
  }
  #link-div a:visited {
    color: #000000;
  }

  #main-visual >img {
    width: 100%;
    margin: 10px auto;
  }

  #about {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:0 auto 0 auto;
  }
  #about-contents {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  #about-contents > img {
    border-radius: 50%;
    margin-top: 50px;
  }
  
  #about > h1 {
    margin-bottom: 0;
    }

  #works {
    margin: 0;
  }


  #works > h1 {
    text-align: center;
    margin: 50px auto 10px auto;
  }

  #works-box {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .works-contents {
    margin: 0 auto;
  }
  
  .works-contents > p {
    margin: 5px auto 20px auto;
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  footer > p {
    margin-bottom: 5px;
  }

}
